@{
    ViewBag.Title = "Billing information search";
}

@*<%@Html.BeginForm("List", "InvoiceSummaryView");%>
<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input type="text" id="tenantName" name="tenantName" value ="" style="width: 325px" />
        </td>
        <td> 
            <input type="text" id="Year" name="year" value="" style="width: 325px" />
        </td>
        <td>
            <input type="text" id="Month" name="month" value="" style="width: 325px" />
        </td>
        
    </tr>
</table>
<%@Html.EndForm();%>*@
